/* Standard Tailwind directives are handled by CDN in index.html for this environment */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}